@import "../../../styles/variables";

.card {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-between;
	border: solid 1.5px $color-gray;
	height: 350px;
}

.heart {
	width: 20px;
	height: auto;
	cursor: pointer;
}

.eye {
	position: absolute;
	top: 0;
	left: 5px;
	width: 30px;
	height: auto;
	cursor: pointer;
}